<% layout('layouts/boilerplate')%>
   <h1>Browse The Most Popular Books</h1>
   <ul>
      
       <%for(let book of books){%>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <a href="/books/<%=book._id%>"><img src="<%=book.image%>" class="card-img-top" alt="Cover Not Available"></a>
                <div class="card-body">
                    <a href="/books/<%=book._id%>"><h5 class="card-title"><%=book.title%></h5></a>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
       <%}%>
   </ul>
  

