<% layout('layouts/boilerplate')%>
<div class="card" style="width: 18rem;">
    <img src="<%=book.image%>" class="card-img-top" alt="Cover Not Available">
    <div class="card-body">
      <h5 class="card-title"><%=book.title%></h5>
      <h3 class="card-title text-muted"><%=book.author%></h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/books" class="btn btn-primary">Show All Books</a>
    </div>
  </div>

<%//Add  Ratings System here - stars or thumbs-up/thumbs-down%>
<form action="">
    <div class="mb-3">
        <label for=""></label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</form>    

