*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vesper Libre', serif;
}

#showcase{
    height:66vh;
    background-image:linear-gradient(rgba(255, 255, 255,0.9), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1600431521340-491eca880813?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGlicmFyeXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60") ;
    background-position: center;
    background-size: cover;
    display: flex;
    padding:2em;
    margin: 2em;
    color:white;
}

.content-wrap{
    justify-content: space-around;
}

#showcase h1{
    font-size: 3.5em;
    color:rgb(75,50,24);
    background: -webkit-linear-gradient(#4d2814,#B38728,#AA771C,#80461B,#4d2814);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Vesper Libre', serif;
    font-weight:600;
    /*color:rgb(51,34,17);*/
}

#showcase p{
    letter-spacing: .7em;
    /*font-family: 'Space Mono', monospace;*/
    font-family: 'Vesper Libre', serif;
    color:#80461B;
}



.btn{
    display: inline-block;
    background: #4A2511;
    color:white;
    padding: .5em;
    border: 1px solid #4A2511;
    margin: 1.5em 1em;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
.btn:hover {
    background: #eaeaea;
    color:#333;
}

.btn-browse{
    float:right;
    margin-right:.7%;
    margin-top:-2%;
    background:#80461B;
}


 .img-thumbnail{
    border:0;
    height:18rem;
}

h2{
    color:rgb(75,50,24);
    background: -webkit-linear-gradient(#4d2814,#AA771C,#80461B,#4d2814);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}



#bookReview{
    background: #F8F0E3;
   
}

.reviews{
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    font-size: 1.1em;
}

.content-width{
    max-width: 456px;
    margin: 0 auto;
}

h4{
    line-height: 2em;
}

.footer-width{
    background:#80461B;
    color:white;
}