.box{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.box>*{
    flex: 1 1 1;
    
}

.img-thumbnail{
    border:0;
    height:18rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
   
  }

/*Searchbox */
.is-hidden { 
    display: none; 
}